body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

#gameCanvas {
    background-color: greenyellow;
    display: none;
}

#menu {
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
